/* Two example, where formatting are
  * added directly on a html-tag
  */
body{
	background-image: url("img.png");
	background-color: #000000;
	background-repeat: no-repeat;
	background-size:cover;

}	

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
  
#content {
	width: 75%;
	margin: auto;
	text-align: center
}

#text{
	color: white;
}	
#list{
	background-color: red;
}

#aav{
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}


	
	
	



