
/* Styling for the whole sheet */
#body{
	background-image: url("img.png");
	background-size:cover;
	font: bold 20px/25px Sylfaen;
	text-align: center;
	color: white;
}	

#welcome {
	font-size: 45px;
}

/* Styling for the heading */
#bleDeviceList {
	list-style-type:none;
}

/* Styling for the buttons */
#aav{
	
  background: rgba(43, 106, 204, 0.9);
  color: white;
  font: bold 30px/40px Sylfaen;
  border-radius: 25px;
  border-style: none;
  font-size: 30px;
  width: 75%;
  outline: none;
}

/* For when button is clicked */
#aav:active {
  opacity: 0.5;
}

	
	
	



