/* Two example, where formatting are
  * added directly on a html-tag
  */
body{
	background-image: url("img.png");
	background-color: #000000;
	/*background-image:url("bluetooth.jpg");
	background-repeat: no-repeat;*/

}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#text{
	color: white;
}	
#list{
	background-color: red;
}

#button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
	
	
	



